.password-input {
    position: relative;
  }
  
  .password-input input {
    width: 100%;
    padding-right: 30px;
  }
  
  .password-input i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  